{
  "outbounds": [
    {% for entry in entries %}
    {
      "type": "vless",
      "tag": "Zerologs-{{loop.index}}",
      "server": "{{host}}",
      "server_port": {{port}},
      "uuid": "{{entry.uid}}",
      "packet_encoding": "xudp",
      "tls": {
        "enabled": true,
        "server_name": "{{entry.sni or sni}}",
        "reality": {
          "enabled": true,
          "public_key": "{{entry.pbk}}",
          "short_id": "{{entry.sid}}"
        },
        "utls": { "enabled": true, "fingerprint": "{{fp or 'chrome'}}" }
      }
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
